---
layout: null
---
{% include base_head.html %}

    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

<!-- SITE MENU -->
{% include base_menu.html %}

<!-- SITE STUFF -->

<div class="badssitecore">
<article>
        <div id='down' class='container post'>
		<div class='body'>
		<div class='center'>
      <!-- blog -->
      <h1>radically simple video sharing. internet video frontpage.</h1>
      <span>radically simple video sharing. internet video frontpage.</span><br>
      <span>radically simple video sharing. internet video frontpage.</span><br>
      <span>radically simple video sharing. internet video frontpage.
        <br>radically simple video sharing. internet video frontpage.
        <br>radically simple video sharing. internet video frontpage.</span><br>

      <h2>Don't break site, just don't make it worse </h2>
      <span>radically simple video sharing. internet video frontpage.</span>
      <div class="permalink-wrapper">
      <br>Post by: <b>bads.tm</b>  @ 2018-06-09
      </div>

       <!-- blogpost -->

      <h1> The blog of @everyone...</h1>
      <p>radically simple video sharing. internet video frontpage.</p>

      <div class="permalink-wrapper">
      <br>Post by: <b>bads.tm</b> @ 2018-01-11
      </div>

       <!-- END blog -->
		</div>
		</div>
		</div>
</article>
        <footer>
<!-- SITE COPY TEXT/ETC MODULE -->
{% include footer_copy.html %}
        </footer>
        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.12.0.min.js"><\/script>')</script>
        <script src="js/plugins.js"></script>
            </div>
        </body>
</html>
