<nav id="sticky-nav-bar" class="gradient-background">
    <a href="/">
        <img src="files/icon.png" width="100px" alt="Home & About">
    </a>

    <ul class="main-navigation">
        <li class="nav-option">
            <a href="/">Home & About</a>
        </li>
		<li class="nav-option">
            <a href="/downloads">Downloads</a>
        </li>
        <li class="nav-option">
            <a href="/blog">Blog</a>
        </li>
        <li class="nav-option">
            <a href="wiki/">Wiki</a>
        </li>
        <li class="nav-option">
            <a href="wiki/installation">How to install</a>
        </li>
    </ul>
</nav>
